<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>
    <header>
        <h1>Edit Student</h1>
        <nav>
        </nav>
    </header>
    <main>
        <form action="/students/edit/<%= id %>" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= student.name %>" required>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="<%= student.age %>" required>

            <label for="course">Course:</label>
            <input type="text" id="course" name="course" value="<%= student.course %>" required>

            <button type="submit">Update Student</button>
        </form>
    </main>
    <%- include('partials/footer') %>

</body>
</html>
